{# extends 'base.html.twig' #}

{% block title %}
    <h3>Укажите место на карте</h>
{% endblock %}

{% block head %}
    <title>Карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f6712018-3af8-4e7c-891a-afd219c616b4&lang=ru_RU" type="text/javascript"></script>
    <script src="{{ asset('js/MapEditor.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="map" style="width: 100%; height: 100%; background-color: #E0E0E0;"></div>
{% endblock %}
